* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #82c0f5;
  color: black;
}

.corpo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  font-size: 20px;
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
}

.titulo-blog {
  text-align: center;
  color: green;
}

.texto-destaque {
  font-size: 15px;
  text-align: center;
  color: #cf62f5;
}

a {
  padding: 10px;
  display: grid;
  color: blue;
  text-decoration: none;
  border: 1px solid blue;
}

footer {
  text-align: center;
}
