/* Estilizar todos os elementos da página */
* {
  /* Resetando o que já vem na págna */
  /* Espaçamento da borda até o conteúdo */
  padding: 0;
  /* Margem */
  margin: 0;
}
/* Seletores */
body {
  background-color: #000000;
  color: #f6f6f6;
}
/* Seletor com classe */
.titulo-destaque {
  color: #22d4fd;
}
